/*
salvar altura menú
:root {
  scroll-padding-top: 95px;
}
*/
html {
  scroll-behavior: smooth;
} 
body{
  background-image: url(./images/bg-vector.svg);
}
/*desktop*/
@media (width>1279px) {
  body{
    width: 80vw;
    margin: 0 auto;
  }
}

.header{
  background-color: var(--background-color);
  height: 95px;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
}
.logo-link{
  width: 100%;
}
.logo{
  width: 85%;
  height: 95px;
  transition: height 0.3s ease;
  object-position: 15px;
}
.menu{
  width: 15%;
  display: flex;
  justify-content: start;
  padding-bottom: 20px;
  transition: height 0.3s ease;
}
/*scroll*/
.header-scroll{
  height: 60px;
}
.logo-scroll{ 
  height: 40px;
  object-position: 25px;
}
.menu-scroll{
  padding-bottom: 5px;
}
/*---------------------*/
.menu img{
  width: 25px;
}
/*media queries - header*/
/*tablet*/
@media (width>767px) {
  .header{
    height: 120px;
    justify-content: space-between;
  }
  .logo{
    height: 120px;
  }
  .menu{
    width: 15%;
    padding-bottom: 15px;
  }
  .menu img{
    width: 35px;
  }
  .header-scroll{
    height: 95px;
  }
  .logo-scroll{
    height: 65px;
    object-position: 50px;
  }
}
/*desktop*/
@media (width>1023px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--white);/*prueba*/
  }
  .logo-link{
    width: 29%;
  }
  .logo{
    width: 100%;
    object-position:0;
  }
  .menu{
    width: 65%;
    transition: none;
    padding-bottom: 0;
  }
  .menu img{
    display: none;
  }
  
}
@media (width>1279px) {
  .header{
    width: 80vw;
    padding: 0px;
  }
  .logo-link{
    width: 29%;
  }
  .menu{
    width: 60%;
  }
}
/*Drop-down menu*/
.dropdown-menu{
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1.6rem;
  height: auto;
  width: 100vw;
  display: inline;
  background-color: var(--white);
  position: absolute;
  top:95px;
  right:0;
  text-align: center;
  transition: height 0.3s ease;
}
.dropdown-menu li{
  padding: 20px 24px;
  border-top: 1px solid var(--brand-color);
}
.dropdown-menu li a{
  text-decoration: none;
  color: #848484;
}
.dropdown-menu li a:hover{
  color: #333333;
}
.hidden{
  display: none;
}
.dropdown-scroll{
  top: 60px;
}
/*media queries - dropdown menu*/
/*tablet*/
@media (width>767px){
  .dropdown-menu{
    top:120px;
  }
}
/*desktop*/
@media (width>1023px){
  .dropdown-menu{
    display: flex;
    flex-direction: row;
    position: relative;
    top:0;
    right: 0;
    background-color: transparent;
  }
  .dropdown-menu li{
    border: 0;
    padding: 20px 15px;
  }
}
/*--------------------*/
/* ---- MAIN ---- */
.main{
  height: auto;
  width: 100%;
}

  /*--SECTIONS--*/
section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

  /*--HERO--*/
.hero{
  height: 100vh;
  width: 100%;
  position: relative;
  padding:0;
}
.hero-img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 73%;  
}
.hero-text-container{
  height: 100vh;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.55);
  position: absolute;
  top:0;
  z-index: 10;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
h1{
  font-size: 3.2rem;
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: center;
  color: var(--white);
  line-height: 50px;
  margin-top: 200px;
}
.hero-intro{
  font-size: 1.5rem;
  font-family: var(--tertiary-font);
  font-weight: 400;
  color: var(--white);
  text-align: center;
  line-height: 25px;
  padding-bottom: 30px;
}
.hero-button{
  padding: 20px 60px;
  font-size: 1.5rem;
  border-radius: 10px;
}
/*media queries - hero*/
/*desktop*/
@media (width>1023px){
  .hero{
    height: 470px;    
  }
  .hero-img{
    height: 470px;  
  }
  .hero-text-container{
    height: 470px;  
    align-items: flex-start;
    padding: 0 80px;
    gap: 15px;
  }
  h1{
    font-size: 3.8rem;
    width: 400px;
    text-align: left;
  }
  .hero-intro{
    text-align: left;
    width: 395px;
    padding-bottom: 0px;
  }
  .hero-button{
    display: none;
  }
}

  /*--WORKSHOPS--*/
.workshops{
  padding: 55px 0 25px 0;
}
h2{
  font-family: var(--primary-font);
  font-size: 2.8rem;
  font-weight: bold;
  padding-bottom: 8px;
}
.decoration{
  width: 30%;
  height: 4px;
  background-color: var(--decoration-color);
  border: none;
}
h3{
  font-family: var(--tertiary-font);
  font-size: 1.6rem;
  text-align: center;
  padding: 30px 20px;
  line-height: 22px;
}
.article-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
  padding: 0 20px;
}
.workshop-article{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
}
.workshop-article img{
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.text-container{
  height: auto;
  width: 100%;
  padding-left:10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-container h2{
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 2.1rem;
}
p{
  font-family: var(--tertiary-font);
  font-size: 1.5rem;
  line-height: 22px;
}

/*media queries - workshops section*/
/*tablet*/
@media (width>767px){
  .article-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .workshop-article{
    width: 47%;
  }
}
/*desktop*/
@media (width>1023px){
  .workshops{
  padding: 40px 0 87px 0;
}
  .section-subtitles{
    width: 700px;
    padding: 30px 0px;
  }
  .article-container{
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0 20px;
  } 
  .workshop-article{
    width: 23%;
    align-items: flex-start;
    justify-content: space-between;
  }
  .text-container{
    padding-right: 20px;
  }
  .workshop-article button{
    margin-left: 10px;
  }
  
}

/*---------------*/
/*MODAL WINDOW*/

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 30; 
  padding-top: 94px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
/*media queries - workshops section*/
/*tablet*/
@media (width>767px){
  .modal{
    padding-top: 155px; 
  }
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}
/*media queries - workshops section*/
/*tablet*/
@media (width>767px){
  .modal-content {
    width: 80%;
  }
}
/* Content */
.js-class-name:hover, .js-class-name:focus{
  color: var(--title-color);
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
}
.arrow{
  display: inline-block;
  transition: transform 0.3s ease;
}
.arrow.rotated{
  transform: rotate(90deg);
}
.modal-article{
  margin: 0 auto;
  padding-bottom: 20px;
  width: 90%;
}
.schedule{
  padding-top: 20px;
  font-weight: 500;
}
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  font-family: var(--tertiary-font);
  font-size: 1.3rem;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 8px 12px;
  text-align: left;
  vertical-align: top;
}

.schedule-table th {
  background-color: #fffaf5;
}

.schedule-table thead th {
  background-color: var(--background-color);
  font-weight: 600;
}
.schedule-table tbody td {
  line-height: 18px;
}

/*weekends*/
.modal-article img{
  padding-top: 15px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/*media queries - workshops section*/
/*tablet*/
@media (width>767px){
  .modal-article {
    width: 70%;
  }
}
/* @media (width>767px){
  .wheel-article img{
    height: 400px;
  } 
}  */
@media (width>767px){
  /* .wheel-article img{
    height: 400px;
  }  */
  .modal-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .modal-article img{
    width: auto;        
    max-height: 300px;  
    height: auto;
  } 
}
/*desktop*/
/*@media (width>1023px){
  .wheel-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  } 
  .wheel-article img{
    width: auto;        
    max-height: 300px;  
    height: auto;
  } 
} */

.title-classes-article{
  text-align: left;
  font-weight: 500;
  padding: 0px 0px 15px 0px;
}

/* The Close Button */
.js-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.js-close:hover,
.js-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*---------------*/

  /*--EXPERIENCE--*/
.experience{
  padding:30px 0 25px 0; 
}
.article-box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
}
.exp-img{
  width: 100%;
  height: auto;
}
.exp-img-xl{
  display: none;
}
.bg-text-container{
  padding: 20px;
  background-color: var(--background-color);
}
.experience-button{
  margin-top: 10px;
}
/*media query - experience*/
/*desktop*/
@media (width>1023px){
  .experience{
    /* padding:30px 0 87px 0;  */
    padding:85px 0 135px 0; /*prueba*/ 
  }
  .title-exp{
    display: none;
  }
  .article-box{
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 450px;/*prueba*/
  }
  .exp-img{
    display: none;
  }
  .exp-img-xl{
    display: block;
    width: 990px;
    height: 480px;
    object-fit: cover;
    background-color: red;
    order: 2;
    transform: translateX(50px);
  }
  .bg-text-container-exp{
    order: 1;
    width: 540px;
    height: 380px;
    position: absolute;
    z-index: 20;
    transform: translateX(-280px);
    padding: 73px 75px;
  }
  .bg-text-container-exp h2{
    font-size: 3rem;
  }
  .experience-button{
    margin-top: 30px;
    width: 151px;
  }
}

  /*--PROJECTS--*/
.projects{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 25px 0;
}
.projects-gallery{
  width: 100%;
  height: 1248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.projects-gallery img{
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.projects-btn a{
  text-decoration: none;
  color: var(--white);
}

/*media queries - projects section*/
/*tablet*/
@media (width>767px){
  .projects-gallery{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 504px;
  }
  .projects-gallery img{
    width: 220px;
    height: 220px;
  }
}
/*desktop*/
@media (width>1023px){
  .projects{
    /* padding: 30px 0 87px 0; */
    padding: 15px 0 87px 0;/*prueba*/
  }
}
@media (width>1279px){
  .projects-gallery{
    height: auto;
  }
  .projects-gallery img{
    width: 233px;
    height: 233px;
  }
}

  /*--ABOUT ME--*/
.about-me{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:30px 0 55px 0; 
}
.subtitle-about{
  display: none;
}
.img-aboutme{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.img-aboutme img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.33) translateY(-33px);
}
.contact-button{
  margin-top: 30px;
}
.contact-btn-xl{
  display: none;
}
/*media queries - about me section*/
/*desktop*/
@media (width>1023px){
  .about-me{
    /* padding:30px 0 130px 0;  */
    padding: 85px 0 100px 0; /*prueba*/ 
  }
  .about-me .article-box{ /*prueba*/
    height: auto;
    padding-top: 0;
  }
  .bg-text-container-about{
    order: 2;
    position: absolute;
    z-index: 20;
    width: 500px;
    height: 400px;
    transform: translateX(295px);
    padding: 69px 65px;
  }
  .img-aboutme{
    width: 100%;
    height: 500px;
    width: 650px;
    overflow: hidden;
    order: 1;
    transform: translateX(-225px);
  }
  .title-about, .decoration{
    display: none;
  }
  .bg-text-container-about .subtitle-about{
    display: inline;
    font-size: 3rem;
    padding-bottom: 15px;
  }
  .contact-btn-sm{
    display: none;
  }
  .contact-btn-xl{
    display: inline-block;
    width: 150px;
  }
}
/* ---- FOOTER ---- */
.footer{
  background-color: #DEDEDE;
  height: 722px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer-logo{
  width: 100%;
  padding: 20px 6px 0px 6px;
} 
.footer-logo img{
  width: 100%;
}
.footer-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.footer-sections{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
}
.footer-sections h3{
  padding: 15px 0px;
  font-size: 1.4rem;
  font-family: var(--tertiary-font);
  font-weight: bold;
}
.footer-sections li{
  font-size: 1.4rem;
  font-family: var(--tertiary-font);
  line-height: 2rem;
  padding-top:3px;
}
.links{
  text-decoration: none;
  color: #494949;
  font-weight: 500;
}
.instagram-logo{
  transform: translateY(3px);
}
.copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright p{
  font-size: 0.9rem;
  color: #393939;
}
.developer{
  text-decoration: none;
  color: #393939;
  font-weight: bold;
}
/*media queries - footer*/
/*tablet*/
@media (width>767px){
  .footer-logo{
    width: 75%;
  }
  .footer-logo img{
    width: 100%;
  }
  .footer-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
  }
  .footer-sections{
    width: 30%;
    padding-left: 32px;
  }
  .footer-sections ul{
    width: 175px;
  }
  .copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 55px;
    width: 100%;
  }
}
/*desktop*/
@media (width>1023px){
  .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    height: auto;   
    padding: 50px 0px; 
    background-color: transparent; /*prueba*/
  }
  .footer-logo{
    margin: 0 25px;
    width: 25%;
  }
  .footer-logo img{
    width: 100%;
  }
  .footer-section{
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-sections{
    width: 25%;
    padding: 0;
  }
  .copyright{
    padding-top: 60px;
  }
}

/*---------------*/
/*buttons*/
button{
  background-color: var(--brand-color);
  color: var(--white);
  padding: 10px 24px;
  border: none;
  font-family: var(--button-text);
  font-weight: bold;
  border-radius: 3px;
}
button:hover{
  cursor: pointer;
  background-color: #0B1C1F;
}



